<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Micro Learning App</h3>
    <nav class="nav nav-masthead">
      <% if session[:user] %>
        <a class="nav-link <%= active_page?('home') %>" href="/">Home</a>
        <a class="nav-link <%= active_page?('learn') %>" href="/learn">Learn</a>
        <a class="nav-link <%= active_page?('about') %>" href="/about">About</a>
        <a class="nav-link" href="/user/logout">Logout</a>
      <% else %>
        <a class="nav-link <%= active_page?('login') %>" href="/user/login">Login</a>
        <a class="nav-link <%= active_page?('register') %>" href="/user/register">Register</a>
      <% end %>
    </nav>
  </div>
</div>