<div class="col-md-12">
  <% unless @errors['msg'].empty? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong><%= @errors['msg'] %></strong>
    </div>
  <% end %>
</div>
<div class="login">
  <div class="card">
    <div class="card-block">
      <form class="form-signin" method="post">
        <h2 class="form-signin-heading">SIGN IN</h2>
        <hr>
        <div class="col-md-12">
          <div class="form-group <%= 'has-danger' unless @errors['email'].empty?%>">

            <label for="inputEmail" class="sr-only">Email address</label>
            <input name="email" type="text" class="form-control" placeholder="Email address" value="<%= @values['email_v'] %>">
            <% unless @errors['email'].empty? %>
              <% @errors['email'].each do |error| %>
                <div class='form-control-feedback'>
                  <%= error %></div>
              <% end %>
            <% end %>
          </div>
          <div class="form-group <%= 'has-danger' unless @errors['password'].empty? %>">

            <label for="inputPassword" class="sr-only">Password</label>
            <div class="input-group" >
              <input name="password" id="password_show" type="password" class="form-control" placeholder="Password" value="<%= @values['password_v'] %>">
<!--              <input name="password" id="password_show" type="password" class="form-control" placeholder="Password" value="devpassword">-->
              <span style="" id="password_show_button" class="input-group-addon"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
            </div>
            <% unless @errors['password'].empty? %>
              <% @errors['password'].each do |error| %>
                <div class='form-control-feedback'>
                  <%= error %></div>
              <% end %>
            <% end %>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="remember" value="checked" <%= @values['remember_v'] %>> Remember me
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>

      </form>
    </div>
  </div>
</div>
